$header-height: 56px;
$footer-height: 28px;
$main-height: calc(100svh - $header-height - $footer-height);

.header {
	position: relative;
	height: $header-height;

	& > * {
		height: 100%;
	}
	@media (max-width: 575px) {
		height: 106px;
		$main-height: calc(100svh - $header-height - $footer-height);
	}
}

.main {
	position: relative;
	height: $main-height;
	scroll-behavior: smooth;

	& > * {
		min-height: 100%;
		max-width: 100svw;
		// TODO! THIS LINE BELOW IS TEMPORARY AND CAN BE DELETED (IF U WILL DELETE DONT FORGOT TO CHECK OTHER PAGES!!)
		flex-wrap: wrap;
	}
	@media (max-width: 575px) {
		height: calc(100svh - 106px - $footer-height);
	}
}

.footer {
	position: relative;
	height: $footer-height;

	& > * {
		height: 100%;
	}
}
